.background{
    background-image:url(./images/purple-background.png);
    background-size: 100% 100%;
    background-position: fixed;  
} 

main {
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
}

.title{
    text-align: left;
    color: rgb(214, 214, 214);
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 6%;
    height: 6%;
    display:flex;
    justify-content: flex-end;
}

header{
   background-color:rgb(37, 7, 66);
   line-height: 1;
   box-sizing: border-box;
   text-align: right;
}

a{
    text-decoration: none;
}

nav a{
    text-decoration: none;  
    color: white;
    font-weight:bold;
    margin: 10px;
    padding: 2px;
    line-height: 15px;
    text-shadow: 5px black;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 20px
   }

a:visited {
    text-decoration: none;  
    color: white; 
}

img{
    border-radius: 45px;
    text-shadow: 10px 15px;
    
}

.navbar{
    font-size: 30px;
    display:flex;
    flex-direction:row;
    justify-content: space-between; 
    line-height: 60px;  
}

.aboutme{
    margin: 0 0 20px 20px;
}

.aboutme-content{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.aboutme-content{
    font-size: 35px
}

.aboutme h1 {
    font-size: 70px;
    font-family: 'Coda', cursive;
    margin: 25px 0px 10px 10px;
}

.about-me-img {
    width: 30%;
    height: 30%;
    margin: 15px 0px 15px 0px;
    box-shadow: 10px 10px 10px black;
}

.projects p {
    margin: 15px 15px 15px 25px;
    font-size: 30px; 
    line-height: 35px; 
    text-align: left;
  }

h2{
    font-size: 55px;
    font-family: 'Coda', cursive;
    line-height: 70px;
    margin: 30px 30px 30px 50px;
}

p{
    margin: 0 25px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

aside{
    display:flex;
    flex-direction:column;
    align-content: center;
    margin-left: 20px;

}

aside h4{
    text-align:center;
}

h3 {
font-size: 2em;
margin-left: 45px;
margin-bottom: 20px;
line-height: 1.4em;
}

h4 {
    font-size: 1.9em;
    line-height: 1.2em;   
}

.link-tag{
    text-align:left;
    font-size: 20px;
}

article{
    margin-left: 15px
}

.container a img{
    height: 100%;
    max-height: 400px;
    margin: 0px 0px 0px 25px;
    box-shadow: 10px 10px 10px black;
}

.small-image{
    width: 80%
}

.first-image{
    min-width: 600px;
    height:100%;
}
.container{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.study-guide-img{
    width: 50%;
    height: 50%;
    margin: 0px 0px 0px 25px;
    box-shadow: 10px 10px 10px black;
}

.image-wrapper{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.bio-page-img{
width: 40%;
height: 40%;
margin-left: 30px;
box-shadow: 10px 10px 10px black;
}

.placeholder img {
width: 90%;
min-width: 400px;
height: 90%;
max-height: 400px;
margin: 0px 0px 0px 25px;
box-shadow: 10px 10px 10px black;
}



.content{
text-align: left;
display:flex;
flex-direction:row-reverse;
justify-content: flex-end;
}

.placeholder-about-section{
    text-align: center;

}

.placeholder-image{
width: 40%;
height: 40%;
}

footer{
    line-height: 25px;
    text-align: center;
}

@media screen and (max-width: 700px) {

    body{
        align-items: center;
    }

    .title{
        text-align: center;
        color: rgb(214, 214, 214);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 3.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo{
        width: 100%;
        height: 100%;
    }

    header{
        background-color:rgb(37, 7, 66);
        line-height: 1;
        box-sizing: border-box;
        text-align: right;
        flex-direction:column
     } 
    

     .logo{
        width: 6%;
        height: 6%;
        display:flex;
        justify-content: center;
    }

    .aboutme h1 {
        font-size: 70px;
        margin: 25px 0px 10px 10px;
        text-align: center;
    }
    
    .aboutme-content{
        display: flex;
        flex-direction:column;
        align-items: center;
        line-height: 1.2
    }

    .aboutme-content img{
        height: 60%;
        width: 60%;
    }

    h2{
        font-size: 55px;
        line-height: 70px;
        margin: 30px;
        text-align: center;
    }

    .projects p {
        margin: 15px 15px 15px 25px;
        font-size: 30px; 
        line-height: 35px; 
        text-align: center;
      }

    h3 {
        font-size: 2em;
        margin-left: 45px;
        margin-bottom: 20px;
        line-height: 1.4em;
        text-align: center;
        }

    .content {
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        
    
    }
    .content img{
        align-items: center;
        width: 60%;
        height: 60%;
        align-content: center;
    }

    .placeholder-content{
        text-align: center;
        display:flex;
        flex-direction:column-reverse;
        justify-content: center;
        }

        .placeholder-image {
        width: 60%;
        height: 60%;
        margin: 0px 0px 0px 25px;
        display: flex;
        align-content: center;
        }

    img{
        display: flex;
        justify-content: center;
    }
}



